---
layout: 'base.njk'
---
       

<section>
    <div class="container_large">
        <div class="padding_global">
          <article class="main-article">
             <div class="container--narrow">
                <div class="art-title">
                    <h5 class="category"> {{ category }}</h5>
                    <h1 class="main-article-title">
                        {{ title }}
                    </h1>
                </div>
              
                  
              <figure class="main-article__figure">
                 <img src="{{ image }}" alt="{{ imageAlt }}">
                 <figcaption>
                   
                 </figcaption>
              </figure>
 
             {{content | safe }}
 
 
 
            </div>
         </article>
        </div>
    </div>
 </section>
 
 