</li>
    <article class="snippet">
      <a href="{{ post.url }}" class="">
        <div class="zoom">
           <img src="{{ post.data.image }}" alt="{{post.data.imageAlt}}" class="">
        </div>
      </a>
      <div class="snippet-body">
        <p class="snippet_category"> {{ post.data.category }}</p>
        <div class="cat">
          
          
          
          <a class="author" href="{{ post.data.authorUrl }}" target="_blank">
            <img src="{{ post.data.authorImage}}" alt="" srcset="">
           
              <p class="snippet_author"> {{ post.data.author }}</p>
           
            
          </a>

          <p class="snippet_date">{{ post.date | postDate }}</p>
          
        </div>
        
         
         
         <h3 class="snippet__title"> {{ post.data.title }} </h3> 
         <p class="snippet__body">{{ post.data.description }}</p>  
        <a href="{{ post.url }}" class="button">
            Read More <span class="visually-hidden"> about {{ post.data.title }}</span>
        </a>
      </div>
      
  </article>
   </li>