<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Webflow, Front-end developer, Ux designer, SEO">
    <meta name="author" content="Designer_yinka" /> 
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ pagedescription }}">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title>{{ title }}</title>
</head>
<body>
    {% include 'header.njk' %}
    <main>
        <div class="page-wrapper">
            {{ content | safe }}
        </div>
    </main>
    {% include 'footer.njk' %}
    <script src="/bundle.js"></script>
</body>
</html>