<footer>
    <div class="container_large">
        <div class="padding_global">
            <div class="two-col">
                <div>
                    <h3>Shoot me a Mail</h3>
                     <p class="small">I am Olayinka, a creative designer with a passion for crafting captivating visual experiences. With a keen eye for detail and a deep understanding of design principles, I strive to bring ideas to life through innovative and compelling solutions.</p>
                     <a  class="button" href="mailto:ajeyinka12@gmail.com" target="_top">
            
                      <span class="button__icon-wrapper">
                          <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                              <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                          </svg>
                          
                          <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                              <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                          </svg>
                      </span>
                      send a mail
                  </a>
                </div>
                <div class="links">
                    <div>
                        <h4>Socials</h4>
                        <a href="https://www.linkedin.com/in/designeryinka/">LinkedIn</a>
                        <a href="https://www.instagram.com/designer_yinka/">Instagram</a>
                        <a href="https://www.x.com/Catalystolayin1/">X</a>
                    </div>
                    <div>
                        <h4>Pages</h4>
                        <a href="/work">work</a>
                        <a href="/services">service</a>
                        <a href="/blog">blog</a>
                        <a href="/about">about</a>
                        <a href="/contact">contact</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="centered">© Olayinka</div>
</footer>