<nav class="navbar">
    <div class="brand-titles">
        <a href="/index">
          <div class="brand-link box">
            <span class="boxed">
                <h3>Designer_yinka.</h3>
            </span>
          
          
            
          </div>
        </a>

    </div>
    
      <a href="#" class="toggle-button">
          <span class="bar one"></span>
          <span class="bar two"></span>
          <span class="bar three"></span>
      </a>
  

    <div class="navbar-links">
        
      <ul>
          <li><a href="/index" class="ava">Home</a></li>
          <li>
            
           
              <a href="/services" class="ava sun-rel">Services</a></span>
              <div class="menu-sub">
                <div class="ol">
                  <ol>
                    <li>
                      <a href="/seo" class="menu-link">
                         <h4>SEO</h4>
                         <p>get your brand seen online</p>
                      </a>
                    </li>
                    
                    <li>
                      <a href="/webdesign" class="menu-link">
                         <h4>Web design</h4>
                         <p>Deliver your business to a wider audience</p>
                      </a>
                    </li>
                    <li>
                      <a href="/landingpage" class="menu-link">
                         <h4>Landing page</h4>
                         <p>Get website for conversion</p>
                      </a>
                    </li>
                  </ol>
                </div>
               
              </div>
             
          
        </li>
          <li><a href="/work" class="ava">Portfolio</a></li>
          <li><a href="/about" class="ava">About</a></li>
          <li><a href="/blog/" class="ava">Blog</a></li>
         
         
          
      </ul>
       
    </div>
    <div class="nav-button">

      <label class="switch">
        <input checked="" type="checkbox" id="dark-mode-toggle">
        <div class="slider">
            <div class="circle">
               
                <svg class="cross" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 24 24" y="0" x="0" height="10" width="10" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <g>
                      <path class="" data-original="#000000" fill="currentColor" d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"></path>
                  </g>
              </svg>
                <svg class="checkmark" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 24 24" y="0" x="0" height="10" width="10" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path class="" data-original="#000000" fill="currentColor" d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"></path>
                    </g>
                </svg>
            </div>
        </div>
    </label>

        <a  class="button" href="https://read.cv/designerolayinka">
            
            <span class="button__icon-wrapper">
                <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                    <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                </svg>
                
                <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                    <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                </svg>
            </span>
            Read my CV
        </a>


        
     
    </div>
    
</nav>