--- 
title: home page
layout: 'base.njk'
pagedescription: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid illum quia optio illo culpa molestias, vitae ut recusandae quam asperiores autem soluta aspernatur quas ab dicta voluptas eligendi eaque est.
---
    
<section>
    <div class="container_large">
      <div class="padding_global">
        
          
     
      <div class="form-bottom">
          <div class="tops">
             
                  
                  
                  
             <h1>Let's make something Great</h1>
             <p>For project enquiries please fill the form below to start a discussion. Happy to connect on socials for anything else.</p>
          </div>
          <form method="post"  name="contact-form" action="">
              <fieldset>
                  <label for="first name"> 
                      First Name:
                      <input type="text" placeholder="enter your first name" name="fist-name" required>
                  </label>
                  <label for="last name">
                      Last Name:
                      <input type="text" placeholder="enter your last name" name="last-name">
                  </label>
              </fieldset>
              <fieldset>
                  <label for="company">
                      Company name:
                      <input type="text" placeholder="enter your company name" name="company">
                  </label>
                  <label for="Email">
                      Work email:
                      <input type="email" placeholder="enter your work mail" required name="email">
                  </label>
              </fieldset>
              <fieldset class="pro">
                  
                      Project Overview

                      <textarea placeholder="How can I help you" required name="overview"></textarea> 
                  
                  
              </fieldset>
              <fieldset class="pro">
                  
                  <input type="submit" value="Submit">
              
              
          </fieldset>
          </form>
       </div>
      </div>
    </div>
  </section>

  <script src="/Google Sheet.js"></script>


  