---
title: Decaf landing page | designer_yinka
layout: "base.njk"
pagedescription: Enjoy seamless, secure, and customizable payment options—tailored to your needs with FlexPay.
---

<section>
  <div class="container_large">
    <div class="padding_global">
      <div class="case-study">
        <h1>Decaf Landing Page</h1>
        <img src="../assets/images/decaf.webp" alt="flexpay assets" />
        <img src="../assets/images/decaf 1.webp" alt="decaf main image" />
        <img src="../assets/images/Decaf 2.webp" alt="decaf main image" />

        <img
          src="../assets/images/decaf full.png"
          alt="decaf full page image"
        />

        <a href="/work" class="go-back">
          Go back
          <span class="">
            <svg
              width="8"
              height="15"
              viewBox="0 0 8 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1.01318L7 7.01318L1 13.0132"
                stroke="var(--pri-clr)"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg> </span
        ></a>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="container_large">
    <div class="padding_global">
      <div class="cta-bg"></div>
      <div class="cta-component">
        <h2>Let’s begin something Great</h2>
        <p>
          Book an intro meeting or drop me an email and I’ll get back to you
          within 24 hours.
        </p>
        <a class="button" href="https://calendly.com/ajeyinka12/30min">
          <span class="button__icon-wrapper">
            <svg
              width="10"
              class="button__icon-svg"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 15"
            >
              <path
                fill="currentColor"
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              ></path>
            </svg>

            <svg
              class="button__icon-svg button__icon-svg--copy"
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              fill="none"
              viewBox="0 0 14 15"
            >
              <path
                fill="currentColor"
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              ></path>
            </svg>
          </span>
          start a project
        </a>
      </div>
    </div>
  </div>
</section>
