--- 
title: home page
layout: 'base.njk'
pagedescription: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid illum quia optio illo culpa molestias, vitae ut recusandae quam asperiores autem soluta aspernatur quas ab dicta voluptas eligendi eaque est.
---

<section>
    <div class="container_large">
        <div class="padding_global">
           
           <div class="hero-sec">
             <div class="hero-text">
                <h1>Double your conversion rates with meticulously crafted landing pages designed for success..</h1>
                <p>
                    Allow your website to handle the workload while you focus on what you enjoy most: increasing your earnings..

                    
                </p>
                <a  class="button" href="https://calendly.com/ajeyinka12/30min">
        
                    <span class="button__icon-wrapper">
                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                        </svg>
                        
                        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                        </svg>
                    </span>
                    start a project
                </a>
             </div>
             
             </div>
           

          
           
           
        </div>
        <div id="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
              <defs>
                  <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
              </defs>
              
              <circle cx="150" cy="150" r="90" fill="var(--accent-clr)"/>
              
              <g>
                  <use xlink:href="#circlePath" fill="none"/>
                 
                  <text fill="black">
                      <textPath xlink:href="#circlePath"> Custom Webflow Websites that Stands Out. </textPath>
                      
                  </text>
              </g>
          </svg>
          
          </div>
    </div>
    </div>
</section>

     




<section>
<div class="container_large">
  <div class="padding_global">
    <div class="wrappers">
        
      
        <div class="tabs-container">
          <ul aria-labelledby="tabs-title">
            
            <li><a id="tab-1" href="#webflow"> <h3>Conversion-Centric Designs</h3></a></li>
            <li><a id="tab-2" href="#design"> <h3>Designs from Scratch</h3> </a></li>
            <li><a id="tab-3" href="#dev"><h3>Swift Designs</h3> </a></li>
            <li><a id="tab-4" href="#int"><h3>Guaranteed Satisfaction</h3> </a></li>
          </ul>
      
          <div class="tabs__panels flow">
            
            <div id="webflow" aria-labelledby="tab-1">
                
                
                <p class="ei">
                    I specialize in creating streamlined landing pages focused solely on conversion, effectively driving increased sales for your business without unnecessary frills
                </p>
            </div>
            <div id="design" aria-labelledby="tab-2">
                
                
                <p class="ei">
                    Your landing page will be designed from scratch, using best practices to convert.
                </p>
           </div>
            <div id="dev" aria-labelledby="tab-3">
                
                <p class="ei">
                    Quick, sleek, and effective designs with high conversion rates. Customized to fulfill your individual business requirements
                </p>
            </div>
            <div id="int" aria-labelledby="tab-4">
                
                <p class="ei">
                    I collaborate with you until your satisfaction is achieved, ensuring excellence in every aspect of the job
                </p>
            </div> 
          </div>
        </div>
    </div>
    </div>  
</section>

<section class="cta">
    <div class="container_large">
        <div class="padding_global">
            <div class="cta-bg"></div>
            <div class="cta-component">
                <h2>Let’s begin something Great</h2>
                <p>Book an intro meeting or drop me an email and I’ll get back to you within 24 hours.</p>
                <a  class="button" href="https://calendly.com/ajeyinka12/30min">
        
                  <span class="button__icon-wrapper">
                      <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                          <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>
                      
                      <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                          <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>
                  </span>
                  start a project
              </a>
            </div>
        </div>
    </div>
</section>