--- 
title: Portfolio - Expert Webflow and Front-end SPECIALIST | designer_yinka
layout: 'base.njk'
pagedescription: Portfolio - designer_yinka specializes in custom website design, Webflow and SEO
---
    
<section class="mgg">
    <div class="padding_global">
      <div class="container_large">
         
              <div>
                <h1 class="txt wor">Recent Work</h1>
              </div>
              <div class="ggg">
                <h2>Live sites</h2>
              </div>
              <div class="grided heroes">
                
                 <div class="divss">
                  <img src="../assets/images/allplant.webp" alt="all plant website image"/>
                  
                    <h2><span>All plants</span></h2>
                    <p class="para"><span>Explore a diverse menu ranging from mouthwatering plant-based burgers to artisanal plant-powered desserts. We prioritize quality, sourcing only the finest ingredients to ensure a flavorful and nutritious experience. </span></p>
                    <a href="https://allplants.com/" class="button" target="_blank">View Site</a>
                  

                </div>
                 <div class="divss">
                  <div class="worked">
                    <img src="../assets/images/darkroom.webp" alt="reachpr"/>
                    <h2><span>Darkroom Agency</span></h2>
                    <p class="para"><span>Darkroom helps commerce companies implement sustainable marketing programs by combining strategy, research, and execution to generate profitable growth for how consumers buy today.</span></p>
                
                    <a href="https://darkroomagency.com/" class="button" target="_blank">View Site</a>
                  </div>
                 </div>
                 <div class="divss">
                  <div class="worked">
                    <img src="../assets/images/reviewcollect.webp" alt="reachpr"/>
                      
                      <h2><span>Review Collect</span></h2>
                      <p class="para"><span>
                        Review Collect is your go-to partner for cultivating positive online reputations. We specialize in assisting businesses in gathering authentic, glowing reviews from satisfied customers. Boost your credibility and trustworthiness effortlessly with our user-friendly platform, ensuring that your online presence reflects the excellence your business deserves..</span></p>
                       
                        <a href="https://www.review-collect.com/" class="button" target="_blank">View Site</a>

                  </div>
                 </div>
                 <div class="divss">
                  <div class="worked">
                    <img src="../assets/images/drreach.png" alt="reachpr"/>
                    
                    <h2><span>SAGE Creatives</span></h2>
                    <p class="para"><span>Public Relations agency provides a wide range of services aimed at managing and enhancing the public image and reputation of individuals, organizations, or brands. We pride ourselves in proffering bespoke services to the unique needs and goals of each client.

                      </span></p>
                     
                    <a href="https://sagecreative.agency/" class="button" target="_blank">View Site</a>

                  </div>
                 </div>

                
                  
              </div>

             

               
                
              </div>
              
              
              <div class="ggg tp">
                <h2>Figma design</h2>
              </div>   
              <div class="grided">
                
                <div class="divss">
                 <img src="../assets/images/behance.webp" alt="FlexPay-Landing-Page"/>
                 
                   <h2><span>FlexPay</span></h2>
                   <p class="para"><span>Explore a diverse menu ranging from mouthwatering plant-based burgers to artisanal plant-powered desserts. We prioritize quality, sourcing only the finest ingredients to ensure a flavorful and nutritious experience. </span></p>
                   <a href="/flexpay-landing-page" class="button" target="_blank">View Site</a>
                 

               </div>
               
                
                
                

               
                 
             </div>

            

              
               
             </div>    
                
      </div>
    </div>
  </section>


<section class="cta">
    <div class="container_large">
        <div class="padding_global">
            <div class="cta-bg"></div>
            <div class="cta-component">
                <h2>Let’s begin something Great</h2>
                <p>Book an intro meeting or drop me an email and I’ll get back to you within 24 hours.</p>
                <a  class="button" href="#">
        
                  <span class="button__icon-wrapper">
                      <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                          <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>
                      
                      <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                          <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>
                  </span>
                  start a project
              </a>
            </div>
        </div>
    </div>
</section>